<h2 style="text-align: center; color: blue; margin-top: -300px;">Book Appointment</h2><br>
<div class="jumbotron col-md-6 mx-auto"  >
<div class="submit-form">
  <div *ngIf="!submitted">
  <form [formGroup]="fitnessForm" ngNativeValidate  (ngSubmit)="adduser()">
    <div class="row">
     <div class="col-md-6 form-group" >
      <label for="firstname">First Name :</label>
     <input type="text" class="form-control" 
       pattern="[A-Za-z]+"  formControlName="firstname" required />
    </div>
    <div class="col-md-6 form-group">
      <label for="lastname">Last Name :</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        required
        pattern="[A-Za-z]+"
       
        formControlName="lastname"
      />
    </div>
    </div>
    <div class="form-group">
      <label for="age">Age :</label>
      <input
        type="number"
        class="form-control"
        id="age"
        min="18" 
        max="60"
        required
        
        formControlName="age"
      />
    </div>
    <div class="form-group">
      <label for="phonenumber">Phone Number :</label>
      <input
        type="tel"
        class="form-control"

        id="phonenumber"
        pattern="[0-9]{10}"
        required
       
        formControlName="phonenumber"
      />
    </div>
    <div class="form-group">
      <label for="email">Email :</label>
      <input
        type="email"
        class="form-control"
        id="email"
        required
       
        formControlName="email"
      />
    </div>
    <fieldset>
    <legend>Address</legend>
    <div class="form-group">
      <label for="streetaddress">Street Address :</label>
      <input
        type="text"
        class="form-control"
        id="streetaddress"
        required
       
        formControlName="streetaddress"
      />
    </div>
    <div class="form-group">
      <label for="city">City :</label>
      <input
        type="text"
        class="form-control"
        id="city"
        required
        
        formControlName="city"
      />
    </div>
    <div class="form-group">
      <label for="state">State :</label>
      <input
        type="text"
        class="form-control"
        id="state"
        required
       
        formControlName="state"
      />
    </div>
    <div class="form-group">
      <label for="country">Country :</label>
      <input
        type="text"
        class="form-control"
        id="country"
        required
       
        formControlName="country"
      />
    </div>
    <div class="form-group">
      <label for="pincode">Pincode :</label>
      <input
        type="tel"
        class="form-control"
        id="pincode"
        required
        pattern="[0-9]{6}"
        
        formControlName="pincode"
      />
    </div>
    </fieldset>
    <div class="form-group">
      <label for="trainerpreference">Trainer Preference :</label>
      <select 
      formControlName="trainerpreference"
      id="trainerpreference" 
      class="form-control" 
      required
     >

            <option value="0" selected>--Select Preference--</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label>Physiotherapist :</label>
      <input type="radio" id="Yes" formControlName="physiotherapist" value="Yes" >
      <label for="male">Yes</label><br>
      <input type="radio" id="No" formControlName="physiotherapist" value="No"   >
      <label for="female">No</label><br>
    </div>
    <div class="form-group">
      <label for="packages">Packages :</label>
      <select 
      formControlName="packages"
      id="packages" 
      class="form-control" 
      required
     (change)="packageEvent($event)"
      
      >

            <option value="0" selected>--Select Package--</option>
            <option value=500>One time assessment (INR 500)</option>
            <option value=1200>4 weekly session (INR 400/session)</option>
            <option value=2400>12 weekly session (INR 300/session)</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inr" id="rs">Inr :</label>
      <input
        
        class="form-control"
        id="inr"
        [(ngModel)]="inputVar"
        formControlName="inr"
      />
    </div>
    <div  class="form-group">
    <label for=date>Appointment</label>
  <input type="date" id="date" formControlName="date" class="form-control"  required
   (change)="validateEvent($event)">
</div>
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
  
  </div>
  </div>
  </div>

 